# Documentation: https://github.com/ocaml/ocaml-ci-scripts/blob/master/README-travis.md
# Also, https://github.com/ocaml/opam-repository is useful.

os:
 - linux
 - osx
language: c
sudo: required
cache:
  apt: true
  directories:
    - $HOME/Library/Caches/Homebrew
install: wget https://raw.githubusercontent.com/ocaml/ocaml-ci-scripts/master/.travis-opam.sh
script: bash -ex ./.travis-opam.sh
env:
  global:
    - PACKAGE="hello_world"
    - TESTS="true"
  matrix:
    - OCAML_VERSION="4.05"
    - OCAML_VERSION="4.06"
