# This branch is based on @bobbypriambodo's method.
# See https://discuss.ocaml.org/t/what-are-the-best-practices-for-setting-up-continuous-integration-for-ocaml-projects/1499/3
# The differences are:
#   - Implement matrix
#   - Introduce a environment variable TESTS
#   - Not use .dockerignore
#   - Write docker-compose.yml in version 3, not 2
# Actually, it may be unnecessary to use docker-compose for this simple package,
# but I leave it for extension.
# 
# Also see:
#   - https://docs.travis-ci.com/user/docker/#Using-Docker-Compose
#   - https://github.com/travis-ci/travis-ci/issues/4895
#   - https://github.com/travis-ci/docs-travis-ci-com/issues/910#issuecomment-359387753

language: generic
sudo: required
services:
  - docker
before_script:
  - sed -i "s/%package%/${PACKAGE}/g"             Dockerfile.template
  - sed -i "s/%tests%/${TESTS}/g"                 Dockerfile.template
  - sed -i "s/%distro%/${DISTRO}/g"               Dockerfile.template
  - sed -i "s/%ocaml_version%/${OCAML_VERSION}/g" Dockerfile.template
  - cat Dockerfile.template
script: docker-compose run --rm tester
env:
  global:
    - PACKAGE="hello_world"
    - TESTS="true"
  matrix:
    - DISTRO="alpine" OCAML_VERSION="4.05.0"
    - DISTRO="alpine" OCAML_VERSION="4.06.0"
    - DISTRO="ubuntu-16.04" OCAML_VERSION="4.05.0"
    - DISTRO="ubuntu-16.04" OCAML_VERSION="4.06.0"
