# Documentation: https://github.com/ocaml/ocaml-ci-scripts/blob/master/README-travis-runner.md
# Also see: https://docs.travis-ci.com/user/docker/

language: c
sudo: required
services:
  - docker
install: wget https://raw.githubusercontent.com/ocaml/ocaml-ci-scripts/master/.travis-docker.sh
script: bash -ex ./.travis-docker.sh
env:
  global:
    - PACKAGE="hello_world"
    - TESTS="true"
  matrix:
    - DISTRO="alpine" OCAML_VERSION="4.05.0"
    - DISTRO="alpine" OCAML_VERSION="4.06.0"
    - DISTRO="ubuntu-16.04" OCAML_VERSION="4.05.0"
    - DISTRO="ubuntu-16.04" OCAML_VERSION="4.06.0"
