# Documentation: https://github.com/ocaml/ocaml-ci-scripts/blob/master/README-travis-runner.md

os: linux
language: c
sudo: false
services:
  - docker
install: wget https://raw.githubusercontent.com/ocaml/ocaml-travisci-skeleton/master/.travis-docker.sh
script: bash -ex ./.travis-docker.sh
env:
  global:
    - PACKAGE="hello_world"
  matrix:
    - DISTRO=alpine OCAML_VERSION=4.05.0
    - DISTRO=alpine OCAML_VERSION=4.06.0
    - DISTRO=ubuntu-16.04 OCAML_VERSION=4.05.0
    - DISTRO=ubuntu-16.04 OCAML_VERSION=4.06.0
after_failure:
  - |
    for logfile in ${HOME}/.opam/${OCAML_VERSION}/build/*/* ; do
      echo "${logfile}" ;
      cat "${logfile}" ;
    done
